<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>dsnhanvien</servlet-name>
        <servlet-class>controller.dsnhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaNhanVien</servlet-name>
        <servlet-class>controller.XoaNhanVien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themNhanvien</servlet-name>
        <servlet-class>controller.themNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>locNhanvien</servlet-name>
        <servlet-class>controller.locNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsCongviec</servlet-name>
        <servlet-class>controller.dsCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiNhanvien</servlet-name>
        <servlet-class>controller.apiNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>luuCongviec</servlet-name>
        <servlet-class>controller.luuCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themCongviec</servlet-name>
        <servlet-class>controller.themCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suaCongviec</servlet-name>
        <servlet-class>controller.suaCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiTaskSteps</servlet-name>
        <servlet-class>controller.apiTaskSteps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaQuytrinh</servlet-name>
        <servlet-class>controller.xoaQuytrinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiDanhgiaCV</servlet-name>
        <servlet-class>controller.apiDanhgiaCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capnhatTiendo</servlet-name>
        <servlet-class>controller.capnhatTiendo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiPhongban</servlet-name>
        <servlet-class>controller.apiPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>locCongviec</servlet-name>
        <servlet-class>controller.locCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaCongviec</servlet-name>
        <servlet-class>controller.xoaCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsPhongban</servlet-name>
        <servlet-class>controller.dsPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themPhongban</servlet-name>
        <servlet-class>controller.themPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suaPhongban</servlet-name>
        <servlet-class>controller.suaPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaPhongban</servlet-name>
        <servlet-class>controller.xoaPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiChiTietPhongban</servlet-name>
        <servlet-class>controller.apiChiTietPhongban</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dsnhanvien</servlet-name>
        <url-pattern>/dsnhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaNhanVien</servlet-name>
        <url-pattern>/xoaNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themNhanvien</servlet-name>
        <url-pattern>/themNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>locNhanvien</servlet-name>
        <url-pattern>/locNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsCongviec</servlet-name>
        <url-pattern>/dsCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiNhanvien</servlet-name>
        <url-pattern>/apiNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>luuCongviec</servlet-name>
        <url-pattern>/luuCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themCongviec</servlet-name>
        <url-pattern>/themCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suaCongviec</servlet-name>
        <url-pattern>/suaCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiTaskSteps</servlet-name>
        <url-pattern>/apiTaskSteps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaQuytrinh</servlet-name>
        <url-pattern>/xoaQuytrinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiDanhgiaCV</servlet-name>
        <url-pattern>/apiDanhgiaCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capnhatTiendo</servlet-name>
        <url-pattern>/capnhatTiendo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiPhongban</servlet-name>
        <url-pattern>/apiPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>locCongviec</servlet-name>
        <url-pattern>/locCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaCongviec</servlet-name>
        <url-pattern>/xoaCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsPhongban</servlet-name>
        <url-pattern>/dsPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themPhongban</servlet-name>
        <url-pattern>/themPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suaPhongban</servlet-name>
        <url-pattern>/suaPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaPhongban</servlet-name>
        <url-pattern>/xoaPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiChiTietPhongban</servlet-name>
        <url-pattern>/apiChiTietPhongban</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
