<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>controller.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>controller.CorsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>IframeAllowFilter</filter-name>
        <filter-class>controller.IframeAllowFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IframeAllowFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>dsnhanvien</servlet-name>
        <servlet-class>controller.dsnhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaNhanVien</servlet-name>
        <servlet-class>controller.XoaNhanVien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themNhanvien</servlet-name>
        <servlet-class>controller.themNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>locNhanvien</servlet-name>
        <servlet-class>controller.locNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsCongviec</servlet-name>
        <servlet-class>controller.dsCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiNhanvien</servlet-name>
        <servlet-class>controller.apiNhanvien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themCongviec</servlet-name>
        <servlet-class>controller.themCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suaCongviec</servlet-name>
        <servlet-class>controller.suaCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiTaskSteps</servlet-name>
        <servlet-class>controller.apiTaskSteps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaQuytrinh</servlet-name>
        <servlet-class>controller.xoaQuytrinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiDanhgiaCV</servlet-name>
        <servlet-class>controller.apiDanhgiaCV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capnhatTiendo</servlet-name>
        <servlet-class>controller.capnhatTiendo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiPhongban</servlet-name>
        <servlet-class>controller.apiPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>locCongviec</servlet-name>
        <servlet-class>controller.locCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaCongviec</servlet-name>
        <servlet-class>controller.xoaCongviec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsCongviecNV</servlet-name>
        <servlet-class>controller.dsCongviecNV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsPhongban</servlet-name>
        <servlet-class>controller.dsPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiChiTietPhongban</servlet-name>
        <servlet-class>controller.apiChiTietPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suaPhongban</servlet-name>
        <servlet-class>controller.suaPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themPhongban</servlet-name>
        <servlet-class>controller.themPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaPhongban</servlet-name>
        <servlet-class>controller.xoaPhongban</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsChamCong</servlet-name>
        <servlet-class>controller.dsChamCong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>capnhatChamCong</servlet-name>
        <servlet-class>controller.capnhatChamCong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userChamCong</servlet-name>
        <servlet-class>controller.userChamCong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userLuong</servlet-name>
        <servlet-class>controller.userLuong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiHoso</servlet-name>
        <servlet-class>controller.apiHoso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apidoiMK</servlet-name>
        <servlet-class>controller.apidoiMK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDashboard</servlet-name>
        <servlet-class>controller.UserDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiThongbao</servlet-name>
        <servlet-class>controller.apiThongbao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiThongbaoMarkRead</servlet-name>
        <servlet-class>controller.ApiThongbaoMarkRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiThongbaoUnreadCount</servlet-name>
        <servlet-class>controller.ApiThongbaoUnreadCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chitietNV</servlet-name>
        <servlet-class>controller.chitietNV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svletBaocao</servlet-name>
        <servlet-class>controller.svletBaocao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>svBaocao</servlet-name>
        <servlet-class>controller.svBaocao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportReportServlet</servlet-name>
        <servlet-class>controller.ExportReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportAttendanceServlet</servlet-name>
        <servlet-class>controller.ExportAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>controller.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFileServlet</servlet-name>
        <servlet-class>controller.DeleteFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsDuan</servlet-name>
        <servlet-class>controller.dsDuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsCongviecDuan</servlet-name>
        <servlet-class>controller.dsCongviecDuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaDuan</servlet-name>
        <servlet-class>controller.xoaDuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>themDuan</servlet-name>
        <servlet-class>controller.themDuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chitietDuan</servlet-name>
        <servlet-class>controller.chitietDuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suaDuan</servlet-name>
        <servlet-class>controller.suaDuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsLichtrinh</servlet-name>
        <servlet-class>controller.dsLichtrinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>luuLichTrinh</servlet-name>
        <servlet-class>controller.luuLichTrinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xoaLichTrinh</servlet-name>
        <servlet-class>controller.xoaLichTrinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsDuannv</servlet-name>
        <servlet-class>controller.dsDuannv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadExcelServlet</servlet-name>
        <servlet-class>controller.UploadExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>apiLichSuCongViec</servlet-name>
        <servlet-class>controller.apiLichSuCongViec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xetDuyetCongViec</servlet-name>
        <servlet-class>controller.xetDuyetCongViec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>giaHanCongViec</servlet-name>
        <servlet-class>controller.giaHanCongViec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsCongviecDuanNV</servlet-name>
        <servlet-class>controller.dsCongviecDuanNV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTaskDetail</servlet-name>
        <servlet-class>controller.getTaskDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dsNhomduan</servlet-name>
        <servlet-class>controller.dsNhomduan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>batNhacViecAll</servlet-name>
        <servlet-class>controller.batNhacViecAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadQuyenNV</servlet-name>
        <servlet-class>controller.loadQuyenNV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>luuQuyenNV</servlet-name>
        <servlet-class>controller.luuQuyenNV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiThongbaoLatest</servlet-name>
        <servlet-class>controller.ApiThongbaoLatest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentServletNV</servlet-name>
        <servlet-class>controller.DocumentServletNV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dsnhanvien</servlet-name>
        <url-pattern>/dsnhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaNhanVien</servlet-name>
        <url-pattern>/xoaNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themNhanvien</servlet-name>
        <url-pattern>/themNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>locNhanvien</servlet-name>
        <url-pattern>/locNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsCongviec</servlet-name>
        <url-pattern>/dsCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiNhanvien</servlet-name>
        <url-pattern>/apiNhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themCongviec</servlet-name>
        <url-pattern>/themCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suaCongviec</servlet-name>
        <url-pattern>/suaCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiTaskSteps</servlet-name>
        <url-pattern>/apiTaskSteps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaQuytrinh</servlet-name>
        <url-pattern>/xoaQuytrinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiDanhgiaCV</servlet-name>
        <url-pattern>/apiDanhgiaCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capnhatTiendo</servlet-name>
        <url-pattern>/capnhatTiendo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiPhongban</servlet-name>
        <url-pattern>/apiPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>locCongviec</servlet-name>
        <url-pattern>/locCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaCongviec</servlet-name>
        <url-pattern>/xoaCongviec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsCongviecNV</servlet-name>
        <url-pattern>/dsCongviecNV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsPhongban</servlet-name>
        <url-pattern>/dsPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiChiTietPhongban</servlet-name>
        <url-pattern>/apiChiTietPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suaPhongban</servlet-name>
        <url-pattern>/suaPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themPhongban</servlet-name>
        <url-pattern>/themPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaPhongban</servlet-name>
        <url-pattern>/xoaPhongban</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsChamCong</servlet-name>
        <url-pattern>/dsChamCong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>capnhatChamCong</servlet-name>
        <url-pattern>/capnhatChamCong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userChamCong</servlet-name>
        <url-pattern>/userChamCong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userLuong</servlet-name>
        <url-pattern>/userLuong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiHoso</servlet-name>
        <url-pattern>/apiHoso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apidoiMK</servlet-name>
        <url-pattern>/apidoiMK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDashboard</servlet-name>
        <url-pattern>/userDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiThongbao</servlet-name>
        <url-pattern>/apiThongbao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiThongbaoMarkRead</servlet-name>
        <url-pattern>/ApiThongbaoMarkRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiThongbaoUnreadCount</servlet-name>
        <url-pattern>/ApiThongbaoUnreadCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chitietNV</servlet-name>
        <url-pattern>/chitietNV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svletBaocao</servlet-name>
        <url-pattern>/svletBaocao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>svBaocao</servlet-name>
        <url-pattern>/svBaocao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportReportServlet</servlet-name>
        <url-pattern>/exportReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportAttendanceServlet</servlet-name>
        <url-pattern>/exportAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFileServlet</servlet-name>
        <url-pattern>/deleteFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsDuan</servlet-name>
        <url-pattern>/dsDuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsCongviecDuan</servlet-name>
        <url-pattern>/dsCongviecDuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaDuan</servlet-name>
        <url-pattern>/xoaDuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>themDuan</servlet-name>
        <url-pattern>/themDuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chitietDuan</servlet-name>
        <url-pattern>/chitietDuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suaDuan</servlet-name>
        <url-pattern>/suaDuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsLichtrinh</servlet-name>
        <url-pattern>/dsLichtrinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>luuLichTrinh</servlet-name>
        <url-pattern>/luuLichTrinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xoaLichTrinh</servlet-name>
        <url-pattern>/xoaLichTrinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsDuannv</servlet-name>
        <url-pattern>/dsDuannv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadExcelServlet</servlet-name>
        <url-pattern>/UploadExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apiLichSuCongViec</servlet-name>
        <url-pattern>/apiLichSuCongViec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xetDuyetCongViec</servlet-name>
        <url-pattern>/xetDuyetCongViec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>giaHanCongViec</servlet-name>
        <url-pattern>/giaHanCongViec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsCongviecDuanNV</servlet-name>
        <url-pattern>/dsCongviecDuanNV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTaskDetail</servlet-name>
        <url-pattern>/getTaskDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dsNhomduan</servlet-name>
        <url-pattern>/dsNhomduan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>batNhacViecAll</servlet-name>
        <url-pattern>/batNhacViecAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadQuyenNV</servlet-name>
        <url-pattern>/loadQuyenNV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>luuQuyenNV</servlet-name>
        <url-pattern>/luuQuyenNV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiThongbaoLatest</servlet-name>
        <url-pattern>/ApiThongbaoLatest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1080</session-timeout>
    </session-config>
</web-app>
